{{#if isFilter}}
<div class="pagination-wrapper">
  <div class="pagination">
    <a class="pagination-link asd" href="/page/{{goBackPage page}}">назад</a>
    <p id="page" class="pagination-link page">{{page}}</p>
    <a class="pagination-link asd" href="/page/{{goNextPage page allPages}}">вперёд</a>
  </div>
</div>
{{/if}}

<div class="cards">

  {{!-- <div class="genre">
    <ul>
      {{#each genres}}
      <li>
        <a href="{{getLink.}}">{{getTranslit.}}</a>
      </li>
      {{/each}}
    </ul>
  </div> --}}

  <div>
    {{#if noFind}}
    <h1>ничего не найдено</h1>
    {{/if}}
  </div>

  <div>
    <ul>
      {{#each movies}}
      <li class="item">
        <div>
          <img class="image" width="200" src="{{getImagePath.}}">
          <h4>{{getYear.}}</h4>
          <h4>Рейтинг: {{getRating.}}</h4>
          {{#if isMy_rating}}
          <h4>Ещё один рейтинг: {{getRatingString.}}</h4>
          {{/if}}
          {{#if isComments}}
          <h4>Комментарии к фильму: {{getNumberOfComments.}}</h4>
          {{/if}}
          <h2 class="item-number">{{getId.}}</h2>
        </div>
        <div>
          <h2 class="title">{{getName.}}</h2>
          <div>
            <p class="descr-film">{{getDescription.}}</p>
          </div>
          <h3>{{getCountry.}}</h3>
          <a class="page-film" href="/film/{{getTranslit.}}">на страницу фильма</a>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="pagination-wrapper">
  <ul class="pagination">
    {{#each pages}}
    <li class="page-bottom page">
      <a class="page-link" href="/page/{{.}}">{{.}}</a>
    </li>
    {{/each}}
  </ul>
</div>